<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="container">
        <div class="content">
            <div class="logo">
                <img class="img" src="css/images/coepTechBlack1.png">
            </div>
            <div class="form">
                <h1>Sign Up</h1>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label for="Name">Name:</label>
                        <input type="text" id="Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="terms" name="terms" required>
                        <label for="terms">I agree to the <a href="#">terms and conditions</a></label>
                    </div>
                    <button class="submit1" type="submit">Sign Up</button>
                    
        <a href="/login"><h3>Go back</h3></a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
